.wrapper {
    display: flex;
    align-items: center;
}

.herobanner {
    background: $sky-blue;
    height: 808px;
    display: flex;
    align-items: center;

    &__content {

        &-heading {
            font-size: 47px;
            font-weight: 700;
            color: $dark-grey;
            width: 64%;
        }

        &-paragraph {
            color: $light-grey;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 53px;
            margin-top: 45px;
        }
    }
}

//grow page css
.grow {
    display: flex;
    justify-content: space-between;
    padding-top: 210px;
    padding-bottom: 210px;
}

.grow__content {
    width: 546px;
}

.grow__heading {
    color: $color-black;
    font-size: 48px;
    font-weight: 700;
}

.grow__paragraph {
    margin: 45px 0;
    color: $color-black;
    font-size: 24px;
    font-weight: 400;
}

.grow__links {
    color: $color-primary;
    font-size: 24px;
    font-weight: 400;
}

.grow__listgroup {
    display: flex;
    width: 619px;
    padding: 12px 0 12px 12px;
    justify-content: space-between;
    border: 2px solid $color-light-black;

    &:nth-child(2) {
        margin-top: 50px;
    }

    &:nth-child(3) {
        margin-top: 50px;
        padding: 12px 0 12px 7px;
    }
}

.grow__icon {
    width: 90px;
    font-size: 24px;
    color: $dark-grey;
    text-align: center;
}
.grow__iconimg{
    height: 47px;
    width: 47px;
    margin-top: 10px;
}
.grow__text {
    font-size: 18px;
    font-weight: 400;
    color: $color-black;
    width: 493px;
}

//security page css
.security {
    display: flex;
    height: 900px;

    &__content {
        width: 50%;
        background-color: $color-dark-black;
        display: flex;
        align-items: center;
             position: relative;
        &-heading {
            font-size: 52px;
            color: $color-white;
            font-weight: 700;
        }

        &-text {
            font-size: 24px;
            color: $color-white;
            font-weight: 400;
            padding: 43px 0;
            width: 65%;
        }

        &-links {
            font-size: 20px;
            color: $color-primary;
            font-weight: 400;
        }
        &-firstshape{
          height: 204px;
          width: 204px;
          border-radius: 50%;
          background-color: rgba(255,255,255,0.22);
          position: absolute;
          top: -70px;
         right: 253px;
        }
        &-secondshape{
            height: 154px;
            width: 154px;
            border-radius: 50%;
            background-color: rgba(255,255,255,0.22);
            position: absolute;
          bottom: 45px;
          left: -80px;
        }
        &-thirdshape{
            height: 54px;
            width: 54px;
            border-radius: 50%;
            background-color: rgba(255,255,255,0.22);
            position: absolute;
          bottom: 68px;
          right: 59px;
        }
    }

    &__info {
        width: 50%;
        background: #f5f5f5;

        &-image {
            height: 900px;
        }
    }
}

// smarter page css start
.smarter {
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
    &__wrapper {
        width: 1160px;
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }

    &__card {
        width: 482px;
        text-align: center;
        margin-bottom: 90px;
        &-img {
            width: 144px;
        }

        &-heading {
            color: $color-black;
            font-size: 40px;
            font-weight: 700;
            margin-top: 25px;
            margin-bottom: 35px;
        }

        &-text {
            color: $color-black;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        &-links {
            color: $color-primary;
            font-size: 20px;
            font-weight: 400;
           
        }
    }

    &__firstround {
        height: 74px;
        width: 74px;
        border-radius: 50%;
        background-color: rgba(228, 66, 64, 0.6);
        position: absolute;
        left: 115px;
        bottom: 90px;
    }

    &__secondround {
        height: 112px;
        width: 112px;
        border-radius: 50%;
        background-color: rgba(228, 66, 64, 0.6);
        position: absolute;
        right: 60px;
        top: 72px;
    }

}
//-------------- smarter page css end -----------------

//---------- pricing page css start -----------
.pricing{
    background-color: $color-sky;
    padding: 100px 0;
    &__heading{
       font-size: 47px;
       font-weight: 700;
       color: $dark-grey;
       text-align: center;
       
    }
    &__text{
     color: $color-black;
     font-size: 24px;
     font-weight: 400;
     text-align: center;
     margin-bottom: 65px;
  
    }
}
.pricingwrapper{
    display: flex;
    column-gap: 46px;
    justify-content: center;
    align-items: center;
}
.pricingcard{
    width: 296px;
    height: 428px;
    background-color: $color-wheat;
    padding: 29px 46px 30px 29px;
    box-shadow: 0 3px 30px rgba(88,104,112,0.9);
    border-radius: 16px;
    // border-bottom: 1px solid rgba(112,112,112,0.14);
    
    &__heading{
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        color: $color-dark;
        
    }
    &__subheading{
        text-align: center;
        font-size:21px;
        font-weight: 500;
        color: $color-primary;
        margin-top: 16px;
        margin-bottom: 41px;
    }
    &__text{
        font-size: 14;
        font-weight: 400;
        text-align: center;
        margin-bottom: 30px;
    }
    &__btn{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        background-color: $color-wheat;
        padding-top: 31px;
        align-items: center;
        &-text{
            font-size: 14px;
            font-weight: 700;
            color: $color-dark;
        }
    }
}
.pricing-primarycard{
    width: 428px;
    height: 500px;
    background-color:$color-bluish;
    padding: 62px 82px 37px 82px;
    box-shadow: 0 3px 30px rgba(88,104,112,0.9);
    border-radius: 16px;
    &__heading{
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        color: $color-white;
        
    }
    &__subheading{
        text-align: center;
        font-size:21px;
        font-weight: 500;
        color: $color-darkgreen;
        margin-top: 16px;
        margin-bottom: 48px;
    }
    &__text{
        font-size: 14;
        font-weight: 400;
        text-align: center;
        margin-bottom:50px;
        color: $color-lighten;
    }
    &__btn{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
       
        padding-top: 31px;
        align-items: center;
        &-text{
            font-size: 18px;
            font-weight: 700;
            color: $color-white;
        }
    }
    &__icon{
        color: $color-white;
    }
}