.container {
        max-width:1314px;
        padding: 0 16px;
        margin: 0 auto;
    }
// .container{
//     width: 100%;
//     max-width: 975px;
//     margin: 0 auto;
//     padding:0 15px;
// }