* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-weight: 400;
    font-family: $primary-font;
}

a {
    text-decoration: none;
}
h1{
    color: black;
    font-size: 111px;
}