.header {
  background-color: $color-light-green;
}

.video-wrapper {
  clip-path: ellipse(135% 100% at 50% -10%);
  min-height: 400px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    clip-path: ellipse(100% 100% at 50% -10%);
  }
}

.videodiv {
  min-height: 100vh;
}

.bg-video {
  height: auto;
  transform: translateX(-50%);
  margin-left: 50%;
  width: 219%;
  object-fit: cover;
  object-position: center;

  @include media-breakpoint-up(lg) {
    width: 100%;
  }

}

.herobanner {

  &-content {

    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    max-width: 674px;
    margin: 0 auto;
    right: 0;
    padding: 100px 15px;
    color: $color-white;

    @include media-breakpoint-up(md) {
      top: 67%;
    }
  }

  &-heading {
    font-size: 33px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      font-size: 55px;
      margin-bottom: 42px;
    }
  }

  &-subheading {
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
      font-size: 20px;
      margin-bottom: 52px;
    }
  }
}

//   -----------------herobanner css end --------------
.slider {

  // display: flex;
  &-heading {
    font-weight: 400;
    font-size: 45px;
    color: $color-green;
    text-align: center;
    margin-bottom: 65px;

    @include media-breakpoint-only(sm) {
      margin-bottom: 54px;

    }

    @include media-breakpoint-only(lg) {
      margin-bottom: 150px;
    }
  }

  &-text {
    font-weight: 500;
    font-size: 45px;
    color: $color-green;
    text-align: center;
    margin-bottom: 65px;

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-content {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  .owl-item {
    padding: 27px;
    position: relative;
    text-align: center;

    &:after {
      content: '';
      width: 0;
      height: 3px;
      background: black;
      transition: all 0.5s ease;
    }

    &:hover::after {
      width: 100%;
      background: $color-green;
      display: block;
    }
  }

  &-bottom {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(#ecfeff, #fff);
  }

}

.owl-carousel .owl-item img {
  width: unset;
  display: unset;
}

.owl-dots {
  display: none;
}

.slider .container .owl-carousel .item a img {
  margin-bottom: 17px;
}

.works {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: $color-white;

  &-heading {
    color: $color-tomato;
    font-size: 55px;
    font-weight: 600;
    margin-top: 70px;
  }

  &-subheading {
    color: $color-dark;
    font-size: 18px;
    font-family: $secondary-font;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 70px;
  }

  &-howstart {
    @include media-breakpoint-up(sm) {
      justify-content: end;
    }
  }

  &-start {
    @include media-breakpoint-up(sm) {
      justify-content: start;
    }
  }

  &-card {
    padding-top: 25px;

    &:hover {
      box-shadow: -1px -1px 20px 9px aliceblue;
      border-radius: 25px;

    }
  }

  &-cardimg {
    width: 159px;
    height: 172px;
  }
}

.occasion {
  background-color: $color-light-green;
  padding-bottom: 170px;

  &-top {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(#fff, #ECFEFF);
  }

  &-heading {
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    color: $color-lightblack;
    line-height: 57px;
    padding: 70px 0;
  }

  &-cardtext {
    font-size: 14px;
    font-family: $secondary-font;
    font-weight: 400;
    display: none;
    margin: 30px 30px;
  }

  &-card {
    background-color: transparent;
    text-align: center;
    padding-top: 20px;
    width: 260px;
    position: relative;
    height: 302px;

    &:hover {
      border-radius: 30px;
      background-color: $color-white;
      color: $color-lightblack;
      text-align: center;
      border-bottom: 13px solid $color-green;
      display: block;

      .occasion-cardtext {
        display: block;
      }
    }

    & img {
      height: 116px;
    }
  }

  &-cardtitle {
    font-weight: 800;
    font-size: 22px;
    margin: 0 40px;
    color: $color-green;
  }
}

.credit {
  padding-top: 478px;
  padding-bottom: 126px;
  position: relative;

  &-heading {
    font-size: 55px;
    font-weight: 800;
    color: $color-white;
    text-align: center;
    margin-bottom: 26px;

    @include media-breakpoint-up(md) {
      padding: 0 50px;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 265px;
    }
  }

  &-subheading {
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 500;
    color: $color-lightblack;
    text-align: center;
    margin-bottom: 90px;

    @include media-breakpoint-up(md) {
      padding: 0 230px;
    }
  }

  &-content {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      column-gap: 50px;
    }
  }

  &-card {
    width: 100%;
    text-align: center;
    padding: 46px;
    border-radius: 0;
    border-bottom: 24px solid $color-blue;

    @include media-breakpoint-up(md) {
      width: 558px;
      border-radius: 30px;
    }

    @include media-breakpoint-up(lg) {

      border-radius: 30px;
    }
  }

  &-cardimg {
    width: 299px;
    height: 235px;

    @include media-breakpoint-only(xs) {
      width: 179px;
    }
  }

  &-wrapper {
    margin-bottom: 0;
    padding: 0;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
      margin-bottom: 48px;
      width: 62%;

    }

    @include media-breakpoint-up(lg) {
      width: 36%;
    }
  }
}

.humans {
  background-color: $color-light-green;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-heading {
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 79%;
    }

    @include media-breakpoint-up(md) {
      width: 56%;
    }
  }

  &-heading span {
    color: $color-tomato;
  }

  &-subheading {
    width: 53%;
    font-size: 18px;
    font-family: $secondary-font;
    font-weight: 500;
    text-align: center;
  }

  &-videowrapper {
    display: table;
    width: auto;
    position: relative;
  }

  &-video {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      width: 700px;
    }
  }

  &-playvideo {
    background-image: url("../images/playbtn.png");
    background-repeat: no-repeat;
    width: 11%;
    height: 21%;
    ;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
    opacity: 1;
    transition: opacity 400ms;
  }

  &-playvideo[hidden] {
    opacity: 0;
    display: block;
  }

  &-animatewrapper {
    z-index: 1;
    position: absolute;
    bottom: -149px;

    @include media-breakpoint-up(sm) {
      bottom: -196px;
      left: -13px;
    }

    @include media-breakpoint-up(md) {
      z-index: 1;
      position: absolute;
      bottom: -261px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include media-breakpoint-up(lg) {
      bottom: -330px;
    }

    @include media-breakpoint-up(xl) {
      bottom: -412px;
    }
  }

  &-animate {
    & img {
      width: 98%;

      @include media-breakpoint-up(sm) {
        transform: rotate(6deg);
        width: 98%;
      }

      @include media-breakpoint-up(md) {}

    }

    width: 100%;
    clip-path: ellipse(49% 98% at 51% -3%);
    background-color: #ECFEFF;

    @include media-breakpoint-up(md) {
      width: 100%;
      clip-path: ellipse(49% 98% at 51% -3%);
      background-color: #ECFEFF;

    }



  }
}

.soul {
  text-align: center;

  &-heading {
    color: $color-blue;
    font-size: 55px;
    font-weight: 800;
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      width: 64%;
    }
  }

  &-subheading {
    color: $color-white;
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &-tooltip {
    position: relative;
    width: 329px;
    display: inline-block;
    border: 5px solid $color-blue;
    background: transparent;
    border-radius: 30px;
    box-shadow: inset 5px 5px 0px 0px $color-white;
    padding: 35px 35px 20px 35px;
    height: fit-content;
    margin-bottom: 33px;
  }

  &-text {
    font-size: 15px;
    font-family: $secondary-font;
    font-weight: 500;
    color: $color-lightblack;
  }

  &-links {
    font-size: 22px;
    font-weight: 800;
    color: $color-light;
  }

  &-shape {
    position: absolute;
    right: 50%;
    transform: rotate(215deg);
    bottom: -50px;
  }

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  &-triangle {
    border-left: 15px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 59px solid #23354f;
    display: flex;
    position: relative;
    width: 14px;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 45px solid rgba(202, 244, 234, 1);
      position: absolute;
      top: 16px;
      left: -9px;
      transform: rotate(3deg);
    }

    &::after {
      content: "";
      width: 16px;
      height: 62px;
      position: absolute;
      top: 24px;
      transform: rotate(55deg);
      left: 3px;
      background-color: rgba(202, 244, 234, 1);
    }
  }

  &-angle {
    &::before {
      border-bottom: 45px solid rgba(202, 244, 234, 1);
    }

    &::after {
      background-color: rgb(215, 251, 243);
    }
  }
}

.earth {
  background-image: url(../images/earth-bg.png);
  background-repeat: no-repeat;
  background-size: 184% 131%;
  height: auto;
  background-position-y: 0;
  background-position-x: -221px;
  text-align: center;
  padding-top: 190px;

@include media-breakpoint-up(md){
  background-size: 200% 145%;
  background-position-y: -132px;
  background-position-x: -197px;
  padding-top: 190px;}
  @include media-breakpoint-up(lg){
    background-size: 108% 147%;
    background-position-y: -111px;
    background-position-x: -101px;
    padding-top: 190px;}
  &-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container h2 {
    font-family: $primary-font;
    color: $color-lightblack;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    width: 72%;
    margin-bottom: 45px;
    @include media-breakpoint-up(md){
      font-size: 55px;
    }
  }
 
}