//font variables
$primary-font:'Brandon Grotesque';
$secondary-font:'Avenir Next LT Pro';

// font path 
$fonts-path: "../fonts/brandon" !default;
$fonts-path2:"../fonts/avenir";
//primary colors
$color-white:#fff;
$color-red:#ff6d6c;
$color-light-red:#fe4a49;
$color-green:#6DCAB6;
// icomoon icon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icommon" !default;
$icon-Facebook: "\e917";
$icon-Instagram: "\e918";
$icon-Twitter: "\e919";
$icon-Youtube: "\e91a";

