.footer {
  background-color: $color-blue;
  padding: 80px 30px 70px 30px;
  &-logo{
    @include media-breakpoint-only(xs) {
       text-align: center;
       margin-bottom: 35px;
    } 
  }
  &-list {
    @include media-breakpoint-only(xs) {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
 
    @include media-breakpoint-up(sm) {
      line-height: 40px;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
        line-height: 40px;
        margin-bottom: 0;
      }
  }
  &-links {
    font-weight: 800;
    font-family: $secondary-font;
    font-size: 14px;
    color: $color-white;
  }
  &-signup {
    align-self: flex-end;
  }
  &-heading {
    font-weight: 800;
    font-size: 23px;
    color: $color-green;
    margin-bottom: 27px;
    @include media-breakpoint-only(xs) {
     text-align:center ;
    }
  }
  &-copyright {

    font-family: $secondary-font;
    font-weight: 500;
    color: $color-white;
    font-size: 11px;
    @include media-breakpoint-only(xs) {
   text-align: center;
       } 
  }
  &-icons {
      padding: 0;
    @include media-breakpoint-only(xs) {
      display: flex;
      justify-content: space-evenly;
     } 
    @include media-breakpoint-up(sm) {
      text-align: end;
      display: flex;
      justify-content: flex-end;
      column-gap: 18px;
      color: $color-white;
    }
    @include media-breakpoint-up(md) {
      text-align: end;
      display: flex;
      justify-content: flex-end;
      column-gap: 18px;
      color: $color-white;
    }
  }

  &-icons li a span {
    color: $color-white;
    &:hover {
      color: $color-green;
    }
  }
 &-order{
    @include media-breakpoint-only(xs) {
      order: 2;
       } 
 }
}
