//font variables
$primary-font:'Circular Std Black';
$secondary-font:'Roboto';
$circular-bold:'Circular Std Bold';
$circular-book:'Circular Std Book';
$circular-medium:'Circular Std Medium';
//primary colors
$primary-color:#841e25;
$color-white: #fff;
$light-white:#cbcbcb;
$color-black: #000;
$light-blue:#002147;
$light-dark:#212529;
$light-grey: #CECECE;
$dark-grey: #494949;
$black-grey:#2d2d2d;
$color-dark:#040404;
$light-black:#7d7d7d;
$color-yellow:#ffba49;
$light-green:#70c217;
$color-charcoal:#373737;
$cool-grey:#34474f;
$color-whitesmoke:#fbf9f9;

// icomoon icon
$icomoon-font-family: "icomoon" !default;

$icomoon-font-path: "../fonts/icomoon" !default;
$icon-Icon-ionic-ios-arrow-down: "\e900";
$icon-Icon-metro-arrow-left: "\e901";
$icon-Component-10--2: "\e900";
$icon-Icon-ionic-ios-arrow-down: "\e901";
$icon-Icon-ionic-ios-call: "\e902";
$icon-letter: "\e903";
$icon-Path-11603: "\e904";

