//font variables
$primary-font:Montserrat;
$secondary-font:Poppins;
//primary colors
$primary-color:#F58025;
$color-white: #fff;
$color-dark-black:#000;
$color-black: #262626;
$light-grey: #929292;
$dark-grey: #373333;
$color-red:#E44240;
$sky-blue:#E4ECEE;
$color-light-black:#f9f9f9;
