.signupform__subheading{
    font-size: 14px;
    font-weight: 400;
    color: $color-lightdark;
}
.signupform__prev{
    font-size: 16px;
    font-weight: 600;
    color:$color-light-black;
}
.signupform__prev-icon{
    font-size: 16px;
    font-weight: 600;
    color:$color-light-black;
    margin-right: 12px;
}
.activateform__title{
    font-size: 16px;
font-weight: 600;
color: $color-purple;
}
.activateform__link{
    color: $secondary-color;
    font-size: 16px;
    font-weight: 600;
}
.signupform__showhide{
    font-size: 14px;
    font-weight: 600;
    color: $secondary-color;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 20px;
    right: 16px;
}
